body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #F9DC5C;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #24416D;
}

button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  background-color: #24416D;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#episode-info {
  margin-top: 3rem;
  font-size: 1.2rem;
  text-align: center;
}
