body {
  font-family: Arial, sans-serif;
}
h1 {
  text-align: center;
  color: #444444;
}
p {
  margin-bottom: 10px;
}
button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #005f6b;
}
#result {
  font-size: 24px;
  text-align: center;
  color: #008CBA;
  font-weight: bold;
}
